
  <header class="py-3 mb-4 border-bottom">
    
    
  <div class="position-absolute start-50 translate-middle w-50 ">
    
      <div class="input-group mb-3 ">
      <input #inputSearch type="text" class="form-control" 
      name="filterHero"
      placeholder="Buscar personaje" 
      aria-label="Recipient's username" 
      aria-describedby="button-addon2"
      
      [(ngModel)]="filterHero"
      >
      <button class="btn btn-outline-primary" type="button"
      (click)="onSearch(inputSearch.value)" id="button-addon3"> <img src="../../../../assets/noun_Zoom_1446108.svg" alt="" srcset="">
      </button>
    </div> 
  </div>  
</header>