
<footer class="py-3 mt-4 mb-4 ">
    
    
    <div class="position-absolute start-50 translate-middle">
        <img src="../../../../assets/Union 1.png" alt="" style="width: 12rem;">
    </div>  
</footer>