<div class="container">
    <div class="col pt-5">
    <div class="row"> 
        
        <div class="col-md-5 mx-5 ">
            
            <div class="card border-dark mb-4" style="width: 20rem;">
                <img src="{{heroe.images.lg}}"  class="img-fluid rounded-start" alt="">
            </div>
                </div>
                <div class="col-md-5 border-bold"> 
                     <div class="card-body border rounded-2 pt-2">
                    <h5 class="card-title text-primary text-center mb-2 ">{{heroe.name}} </h5>
                    <ul class="list-group list-group-flush ">
                    <li class="list-group-item">Real name: <b>{{heroe.biography.fullName}} </b></li>
                    <li class="list-group-item ">Intelligence: <b>{{heroe.powerstats.intelligence}} </b><span></span>  </li>
                    <li class="list-group-item">Speed: <b>{{heroe.powerstats.speed}} </b> </li>
                    <li class="list-group-item">Power: <b>{{heroe.powerstats.power}} </b></li>
                    <li class="list-group-item">Durability: <b>{{heroe.powerstats.durability}} </b></li>
                    <li class="list-group-item">Gender: <b>{{heroe.appearance.gender}} </b> </li>
                    <li class="list-group-item">Race: <b>{{heroe.appearance.race}} </b></li>
                    <li class="list-group-item">Alignment: <b>{{heroe.biography.alignment}} </b></li> 
                    <li class="list-group-item">Publisher: <b>{{heroe.biography.publisher}} </b></li>
                    </ul>
                  </div>
                </div>
        </div>
    </div>
    
</div>
