.card{

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),  0 1px 2px rgba(0, 0, 0, 0.24);
    
}
.card:hover{

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19),0 6px 6px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    
}
img{
    opacity: 0.9;
    transition: opacity 1.7;
    
}
img:hover{
    opacity: 1;
}