
<header class="py-3 mb-4 ">
    
    
  <div class="position-absolute start-50 translate-middle w-50 ">
    
      <div class="input-group mb-3 ">
      <input #inputSearch type="text" class="form-control" 
      name="filterHero"
      placeholder="Buscar personaje" 
      aria-label="Recipient's username" 
      aria-describedby="button-addon2"
      
      [(ngModel)]="filterHeros"
      >
      <button class="btn btn-outline-primary" type="button"
    id="button-addon3"> <img src="../../../../assets/noun_Zoom_1446108.svg" alt="" srcset="">
      </button>
    </div> 
  </div>  
</header>
<div class="container">
    <div class="row">
      <div class="col-3 " *ngFor="let h of heroe | filter:filterHeros | paginate: { itemsPerPage: 20, currentPage: p }">
        <div class="card mb-4 " (click)="onSearch(h.id )"   style="width: 16rem;">
        <img src="{{h.images.lg}}"   class="card-img-top" alt="">
        
        <div class="card-body">
          <h5 class="card-title text-primary text-center ">
            {{h.name}} </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Intelligence <b>{{h.powerstats.intelligence}} </b>  </li>
            <li class="list-group-item">Speed <b>{{h.powerstats.speed}} </b> </li>
            <li class="list-group-item">Power <b>{{h.powerstats.power}} </b></li>
            <li class="list-group-item">Gender <b>{{h.appearance.gender}} </b> </li>
            <li class="list-group-item">Race <b>{{h.appearance.race}} </b></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="py-3  my-5  border-bottom">
        <div class="position-absolute start-50 translate-middle  ">
            <div class="input-group mb-3 ">
              <pagination-controls
              
              previousLabel="Anterior"
              nextLabel="Siguiente" 
              (pageChange)="p = $event" ></pagination-controls>

            </div> 
          </div>  
        </div>  
    </div>
  </div>
